<div class="container">
    <div class="page-header">
        <h1 id="timeline">Timeline</h1>
    </div>
    <ul class="timeline">
        <li class="timeline-inverted" ng-repeat="timeline in timelines">
            <div class="timeline-badge primary"></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">{{timeline.title}}</h4>
                    <h1 ng-repeat="x in data"></h1>
                </div>
                <div class="timeline-body">
                    <img src="{{timeline.thumbnailUrl}}" alt="{{timeline.title}}" class="img-thumbnail">
                </div>
            </div>
        </li>
    </ul>
</div>